/* Prevent scrolling while loading */
body.loading {
    overflow: hidden;
}

/* Loader */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(15, 15, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.75s ease, visibility 0.75s ease;
}

/* Hide loader */
.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

/* Spinner */
.loader::after {
    content: "";
    width: 50px;
    height: 50px;
    border: 5px solid rgb(50, 50, 50);
    border-top-color: rgb(100, 100, 100);
    border-radius: 50%;
    animation: loading 0.5s linear infinite;
}

/* Animation */
@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}